.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .card-body{
  width: 250px;
  height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
 } */

/* .pricing{
   width: 250px;
  height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
   
 } */
/* .button {
  margin-top: 10px;

  align-items: center;
}

.container {
  width: 250px;
  background-color: lightblue;
  border-radius: 20px;
}
.top {
  display: flex;
  justify-content: center;
}

.all {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}
.head {
  text-align: center;
}

.container:hover {
  transform: scale(1.1);
}

.recipe-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}

.recipe-picture {
  height: 540px;
  width: 750px;
  object-fit: cover;
}

.recipe-container {
  background-color: white;
  width: 750px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.recipe-name {
  padding: 16px;
  font-size: 48px;

} */

/* body {
  background-color: whitesmoke;
  font-family: Roboto;
} */

.phone-picture {
  height: 540px;
  width: 750px;
  object-fit: contain;
}

.phone-container {
  background-color: white;
  width: 750px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.phone-name {
  padding: 16px;
  font-size: 48px;
  margin-bottom: 0px;

  /* font-weight: bold; */
}

.phone-company {
  /* padding: 16px; */
  font-size: 32px;
  color: grey;
  /* font-weight: bold; */
  margin-top: 0px;
}

.phone-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 16px;
}

.phone-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}

.App {
  text-align: center;
}
